body{
    font-family: Lato,sans-serif;
}

#tm-head{
    background-color: #0098a6;
    height:220px;
    min-height:220px;
}

#tm-head a{
    display: block;
    padding-top:40px;
}

#tm-side-head p a{
    padding-top: 0px;
    margin-top: 0px;
    font-size: 14px;
    font-family: Lato, sans-serif;
    color: white;
}

#tm-side-head p{
    font-family: inherit;
    margin-top: 40px;
    vertical-align: middle;
}

.navbar-default a{
    text-transform: uppercase;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
    font-family: Lato,sans-serif;
    padding: 2px;
    background-color: #000;
    color: #FFF;
    display: inline-block;
}

h2{
    font-size: 18px;
    margin: 0px;
}

h3{
    font-size: 14px;
    margin: 0px;
}

.item a{
    font-family: 'Merriweather Sans',sans-serif;
    text-decoration: none;
    color: #000;
    display: block;
    text-align: right;
    font-size: 12px;
}

.item h1{
    font-family: 'Merriweather Sans',sans-serif;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    display: block;
    color: #000;
    background-color: transparent;
    padding-bottom: 8px;
    margin-bottom: 0px;
}

.thumbs{
    padding: 8px;
}

.thumbs img{
    width:120px;
    float:left;
    margin-right: 8px;
}

#detail-view .row{
    margin-right: 8px;
}

#twitbox, #newsbox{
    height:400px;
    width: 100%;
    overflow: auto;
}

#twitbox ul, #newsbox ul{
    padding-left: 0px;
}

#twitbox ul li, #newsbox ul li{
    list-style: none;
    list-style-position: inside;
}

#newsbox ul li a{
    padding-right: 8px;
}

#twitbox{
    height:200px;
}

#adbox{
    padding: 8px;
    text-align: center;
}

$adbox img{
    width: 100%;
}

#location .row, #socmed .row{
    border-bottom: none;
}

@media (min-width: 978px) {
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>li>a:hover{
        border-top: 7px solid #0098a6;
        padding-top: 8px;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
        background-color: #FFF;
    }

    .navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background-color: #FFF;
        border:none;
    }

    #home .row{
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: thin solid #CCC;
    }

}

@media (max-width: 978px) {
    .navbar-header{
        background-color: #0098a6;
        color: #FFF;
    }

    .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
        color: #FFF;
    }

    .navbar-default .navbar-toggle{
        border-color: transparent;
    }

    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
        background-color: #000;
    }

    .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
        background-color: #FFF;
        color:#000;
    }

    .navbar-default, .navbar-default .navbar-collapse, .navbar-default .navbar-form{
        background-color: #000;
        border:none;
    }

    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #333;
        background-color: #CCC;
    }

    .navbar-nav{
        margin:0px;
    }

    .navbar-collapse{
        padding-left: 0px;
        padding-right: 0px;
        overflow: hidden;
    }

    .navbar-default .navbar-toggle .icon-bar{
        background-color: #FFF;
    }

    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #DDD;
    }

    .navbar-collapse.in{
        overflow-y:hidden;
    }
}

.dropdown-menu>li>a:hover{
    background-color: #0098a6;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #FFF;
}

#collectionbox.row{
    border:none;
}

#collectionbox h2{
    text-transform: uppercase;
    border:none;
}

ul#col-list{
    list-style: none;
}

li.item-col{
    float: left;
}

li.item-col .item{
    display: block;
    width:300px;
    padding: 10px;
}

.pagination{
    clear:both;
    margin-bottom: 10px;
}

.pagination ul{
    list-style: none;
}

.pagination li{
    float:left;
}

.pagination li a{
    font-family: "Merriweather Sans";
    display: block;
    padding: 4px;
    color: #000;
}

