body {
    font-family: 'PT Sans','Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif!important;
}

.navbar-default,
.navbar-default a{
    background-color: #CF000F;
    color: #FFFFFF;
}

.navbar-default{
    opacity: 0.95;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
    color: #FFFFFF;
}

.navbar-default .btn-link, .navbar-default .navbar-brand, .navbar-default .navbar-link{
    color: #FFFFFF;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
    background-color: #F22613;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover{
    background-color: #F22613;
}

.navbar-default .dropdown-menu {
    background-color: #CF000F;
    border: none;
    padding-top: 0px !important;
}

.navbar-default .dropdown-menu .active a, .dropdown-menu .active a:focus,
.navbar-default .dropdown-menu .active a:hover, .dropdown-menu li a:focus,
.navbar-default .dropdown-menu li a:hover{
    background-color: #F22613;
}

.navbar-default .dropdown-menu .divider {
    background-color: #F22613;
    border-bottom: none;
    line-height: 1px;
}

.breadcrumb {
    color: #6C7A89;
    background-color: #ECF0F1;
}

table{
    font-size: 11px;
}

img.avatar{
    width: 25px;
    height: auto;
}

/* daterange picker fix */

.daterangepicker .calendar {
    padding: 20px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.daterangepicker .calendar-date {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 4px;
    background: #fff;
}

.daterangepicker table tr,
.daterangepicker table th{
    border-color: #fff;
}

.form-vertical label{
    margin-top: 5px;
}

.form-vertical input[type=submit], .form-vertical a.btn{
    margin-top: 15px;
}

dl {
    margin-bottom:50px;
}

dl dt {
    background:#5f9be3;
    color:#fff;
    float:left;
    font-weight:bold;
    margin-right:10px;
    padding:5px;
    width:150px;
}

dl dd {
    margin:2px 0;
    padding:5px 0;
}

.avatar-medium{
    width:150px;
    height: auto;
}